{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>Export des Séminaires</title>
  </head>
  <body>
	<div class="container">
	  Vos séminaires sont exportés aux formats suivants:
	  <br />
	  <ul>
		<li><a href='{{path_ics}}'>iCalendar</a></li>
		<li><a href='{{path_json}}'>JSON</a></li>
	  </ul>
	</div>
  </body>
</html>
